#landing-bg{
    background-image: url(../../public/landingBackground.svg);
    z-index: -69420;
    background-attachment: fixed;
}

#firstSection{
    margin-top:10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: flex;
}

#titleBox{
    height: 65%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: flex;
}

#titleText{
    text-align: center;
    font-size: 75px;
    letter-spacing: -5px;
}