.invoiceBody{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid mediumseagreen/ */
}

.iLeft{
    width: 39%;
    height: 100%;
    border: 3px solid var(--accentMint);
    box-shadow: 5px 5px 14px rgba(0,0,0,0.8);
    background-color: var(--accentDarkerBrown);
    border-radius: 10px;
    overflow: scroll;
}

.iMiddle{
    width: 19%;
    height: 100%;
    border: 3px solid var(--accentMint);
    box-shadow: 5px 5px 14px rgba(0,0,0,0.8);
    background-color: var(--accentDarkerBrown);
    border-radius: 10px;
}

.iRight{
    width: 39%;
    height: 100%;
    border: 3px solid var(--accentMint);
    box-shadow: 5px 5px 14px rgba(0,0,0,0.8);
    background-color: var(--accentDarkerBrown);
    border-radius: 10px;
}

