.cardContainer{
    width: 95%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: auto;
}

.card {
    height: 85%;
    width: 30%;
    border: 3px solid var(--accentMint);
    box-shadow: 5px 5px 14px rgba(0,0,0,0.8);
    background-color: rgba(55, 50, 47, 0.95);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    transform: translate 3s
}

.card:hover{
    transform: translate(0px, -15px);
    box-shadow: 7px 10px 10px rgba(0,0,0,0.8); 
}

.cardImg{
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.cardImg img{
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.cardContent{
    margin-top: 20px;
    padding: 10px;
}

.cardContent h2{
    font-size: 25px
}

.cardContent p{
    font-size: 18px;
    text-align: justify;
    padding: 5px 15px 5px 15px;
}

.buttonBox{
    width: 100%;
    margin: auto;
    margin-bottom: 20px
}

.cardButton{
    padding: 9px 25px;
    background-color: var(--mainColour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
}

.cardButton:hover{
    background-color: var(--mainColourHover);
    color: var(--accentMint)
}
