.body{
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: flex;
}
  
.colouredText{
  color: var(--accentMint);
}
  
#heading{
  text-align: center;
  font-size: 75px;
}