.modalOverlay {
    z-index: 9999;
    width: 100vw;
    height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(62, 61, 61, 0.7);
    backdrop-filter: blur(5px);
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
.modalBox {
    display: block;
    background-color: rgba(55, 50, 47, 1);
    border: 2px solid var(--accentMint);
    box-shadow: 7px 10px 10px rgb(4, 4, 4); 
    width: 25%;
    height: 25%;
    border-radius: 10px;
    position: absolute;
    margin: 100px 30%
}

.tabs{
    /* border-bottom: 2px solid var(--accentMint); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    overflow: hidden;
    padding-top: 10px;
    /* border: 1px dashed orange */
}

.tabs h2{
    font-size: 25px;
    width: 60%;
    text-align: left;
    padding-left: 20px; 
    font-weight: 100;  
}

.xButton{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px
}

.x{
    width: 15%;
    height: 100%;
    background-color: inherit;
    border:none;
}

.x:hover{
    border: none
}

.close{
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: var(--mainColour);
}

.tabContent{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px dashed greenyellow */
}

.loginForm{
    margin-top: 10px;
    width: 80%;
    height: 55%;
    /* border: 1px dashed purple */
}

.login label{
    text-align: left;
    float: left;
}

.login input{
    width: 95%;
    border-radius: 50px;
    padding: 2px
}

.login .signInButton{
    width: 35%;
    margin-top: 15px;
    padding: 4px 12px;
    background-color: var(--mainColour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
}
  
.login .signInButton:hover{
    background-color: var(--mainColourHover);
    color: var(--accentMint)
}   

.registerLink{
    font-size: 12px;
    color: var(--accentMint);
    transition: all 0.3s ease 0s;
}

.registerLink:hover{
    color: var(--accentBrown)
}

.googleContent{
    height: 35%;
    /* border: 1px dashed pink; */
}

.googleContent h2{
    font-size: 25px;
    color: var(--mainColour);
    margin-top: 0;
    margin-bottom: 10px;
}

.googleSignIn{
    padding: 6px 12px;
    background-color: var(--accentMint);
    color: var(--accentBrown);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
}

.googleSignIn:hover{
    background-color: rgb(125, 157, 133);
}
