header{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    margin: auto;
    /* border-radius: 50px; */
}

nav{
    width: 60%;
    height: 100%;
    /* border-radius: 50px;
    background-color: var(--accentBrown); */
}

header img{
    width: 85px;
    height: 85px;
}

.navLinks{
    padding: 5px;
    width: 100%;
}

.navLinks li{
    display: inline-block;
    width: 25%;
}

.navLinks li a.active {
    color: var(--mainColour)
}
  
.navLinks li a{
    transition: all 0.3s ease 0s;
    color: white;
    display: block;
    width: 60%;
    padding: 5px;
    border-radius: 50px;
    margin: auto;
}

.nav li a:visited{
    color: white;
}

.navLinks li a:hover{
    color: var(--accentMint);
    background-color: rgba(55, 50, 47, 0.95);
}

header button{
    padding: 9px 25px;
    background-color: var(--mainColour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
}
  
header button:hover{
    background-color: var(--mainColourHover);
    color: var(--accentMint)
}