.regBody{
    background-color: var(--accentBrown);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regContent{
    width: 50%;
    height: 75%;
    background-color: var(--accentDarkerBrown);
    border-radius: 10px;
    border: 2px solid var(--accentMint);
    box-shadow: 7px 10px 10px rgb(4, 4, 4);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.regContent h3{
    text-align: center;
    font-size: 30px;
}

form{
    width: 75%;
    height: 75%;
    position:relative;
    margin: auto;
}

label{
    text-align: left;
    float: left;
    margin-bottom: 2px;
}

input{
    width: 99%;
    border-radius: 50px;
    padding: 2px;
    outline: none;
    border: 2px solid var(--mainColour);
    font-size: 15px;
    margin-bottom: 5px;
}

.signUpButton{
    width: 40%;
    padding: 6px 20px;
    background-color: var(--mainColour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 25px;
}
  
.signUpButton:hover{
    background-color: var(--mainColourHover);
    color: var(--accentMint)
}

