:root {
  --text-color: #ffffff;
  --background-color: #453F3C;
  --primary-color: #7FBEAB;
  --secondary-color: #9389AE;
  --accent-color: #37a96c;

  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  color: var(--text-color);
  text-decoration: underline solid 2px;
  text-underline-offset: 0.3em;
}

a:hover {
  color: var(--background-color);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 100vh;
  /* overflow: hidden; */
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.05em;
}

button {
  color: var(--text-color);
  background-color: var(--primary-color);
  text-align: center;

  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 500;

  border: none;
  border-radius: 0.2em;
  padding: 0.4em 1.4em;
  margin: 0.5em 1em 0.5em 1em;

  transition: transform ease 0.2s, box-shadow ease 0.2s;
}
button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 0 4em 0 var(--primary-color);
  cursor: pointer;
}

input {
  color: var(--background-color);
  background-color: var(--text-color);

  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
  font-size: 1.1em;

  border: none;
  border-radius: 0.2em;
  padding: 0.4em 1.3em 0.4em 0.6em;
  margin: 0.5em 1em 0.5em 0em;
}

.panel {
  border-radius: 1em;
  padding: 2em;
  background-color: var(--secondary-color);
}

.colorText{
  color: var(--primary-color);
}

.logBody{
  height: 40rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.login{
  height: 27rem; 
  width: 18rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
}

.login form{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  font-size: 15px
}

.login form h1{
  padding: 0;
}

.backToHome{
  width: 100%;
  height: 100%;
}

.bruv{
  width: 25%;
  height: 20%;
}
